.cw-clr{
    background: #C5B084;
    color: #b59d6b;
}

.main-img-div{
    position: absolute;
}

.photo{
    position: relative;
    top: -40px;
    z-index: 1;
    /* transform: translate(0px, -40px); */
}

.snd-rel-div{
    position: relative;
    top: -99.5px;
    z-index: 0;
}

.wave-card{
    background-color: #EEF5F6;
}

.cmn-clr{
    color: #BEA16E
}